colorama==0.4.6
contourpy==1.4.0
cycler==0.12.1
fonttools==4.65.0
iniconfig==2.3.0
kiwisolver==1.5.1
manifold3d==3.5.3
mapbox_earcut==2.1.0
matplotlib==3.11.2
narwhals==2.26.0
networkx==3.6.1
numpy==2.5.3
packaging==26.3
pandas==3.0.5
pillow==12.3.0
plotly==7.0.0
pluggy==1.6.0
Pygments==2.21.0
pyparsing==3.3.2
pytest==9.1.1
python-dateutil==2.9.0.post0
rtree==1.4.1
scipy==1.18.1
shapely==2.1.2
six==1.17.0
trimesh==5.1.0
tzdata==2026.4
